<div class="playlist-menu">
  <div class="row-title">
    <h3>Popular playlists:</h3>
  </div>

  <div id="playlistSlider" class="splide" style="width: 100%">
    <div class="splide__track">
      <ul class="splide__list">
        <% mostPopularPlaylists.forEach(playlist => { %>
        <li class="splide__slide">
          <a href="/playlist/<%= playlist.slug %>" data-link>
            <div class="card context-target" id="<%= playlist.playlist_key %>" el-type="playlist" owner="<%= playlist.is_your_playlist%>">
              <div class="card-img-top">
                <img src="<%= playlist.image_path %>" alt="playlist" class="card-img-top rounded" style="height: 18vh;" onerror="getDafaultPlaylistImage(this)" />
                <button id="<%= playlist.slug %>" class="play-playlist play-playlist-button">
                  <span id="play"><i class="fa-solid fa-play"></i></span><span id="pause"><i class="fa-solid fa-pause"></i></span>
                </button>
              </div>
              <div class="card-body">
                <h6 class="card-title"><%= playlist.name %></h6>
              </div>
            </div>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>


  <% if (recentListenedPlaylists.length > 0 ) { %>
    <div class="row-title">
      <h3>Recent played playlists:</h3>
    </div>
  
    <div id="playlistSlider" class="splide" style="width: 100%">
      <div class="splide__track">
        <ul class="splide__list">
          <% recentListenedPlaylists.forEach(playlist => { %>
          <li class="splide__slide">
            <a href="/playlist/<%= playlist.slug %>" data-link>
              <div class="card context-target" id="<%= playlist.playlist_key %>" el-type="playlist" owner="<%= playlist.is_your_playlist%>">
                <div class="card-img-top">
                  <img src="<%= playlist.image_path %>" alt="playlist" class="card-img-top rounded" style="height: 18vh;" onerror="getDafaultPlaylistImage(this)"/>
                  <button id="<%= playlist.slug %>" class="play-playlist play-playlist-button">
                    <span id="play"><i class="fa-solid fa-play"></i></span><span id="pause"><i class="fa-solid fa-pause"></i></span>
                  </button>
                </div>
                <div class="card-body">
                  <h6 class="card-title"><%= playlist.name %></h6>
                </div>
              </div>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  <% } %>

  <div class="row-title">
    <h3>System playlists:</h3>
  </div>

  <div id="playlistSlider" class="splide" style="width: 100%">
    <div class="splide__track">
      <ul class="splide__list">
        <% systemPlaylists.forEach(playlist => { %>
        <li class="splide__slide">
          <a href="/playlist/<%= playlist.slug %>" data-link>
            <div class="card context-target" id="<%= playlist.playlist_key %>" el-type="playlist" owner="<%= playlist.is_your_playlist%>">
              <div class="card-img-top">
                <img src="<%= playlist.image_path != ''? process.env.DEFAULT_PATH + playlist.image_path : process.env.DEFAULT_ALBUM_IMAGE_PATH %>" alt="playlist" class="card-img-top rounded" style="height: 18vh;" onerror="getDafaultPlaylistImage(this)"/>
                <button id="<%= playlist.slug %>" class="play-playlist play-playlist-button">
                  <span id="play"><i class="fa-solid fa-play"></i></span><span id="pause"><i class="fa-solid fa-pause"></i></span>
                </button>
              </div>
              <div class="card-body">
                <h6 class="card-title"><%= playlist.name %></h6>
              </div>
            </div>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>


  <div class="row-title">
    <h3>New playlists:</h3>
  </div>

  <div id="playlistSlider" class="splide" style="width: 100%">
    <div class="splide__track">
      <ul class="splide__list">
        <% recentAddedPlaylists.forEach(playlist => { %>
        <li class="splide__slide">
          <a href="/playlist/<%= playlist.slug %>" data-link>
            <div class="card context-target" id="<%= playlist.playlist_key %>" el-type="playlist" owner="<%= playlist.is_your_playlist%>">
              <div class="card-img-top">
                <img src="<%= playlist.image_path != ''? process.env.IMAGE_PATH + playlist.image_path : process.env.DEFAULT_ALBUM_IMAGE_PATH %>" alt="playlist" class="card-img-top rounded" style="height: 18vh;" onerror="getDafaultPlaylistImage(this)"/>
                <button id="<%= playlist.slug %>" class="play-playlist play-playlist-button">
                  <span id="play"><i class="fa-solid fa-play"></i></span><span id="pause"><i class="fa-solid fa-pause"></i></span>
                </button>
              </div>
              <div class="card-body">
                <h6 class="card-title"><%= playlist.name %></h6>
              </div>
            </div>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>