<script>
	// function returns the default images
  function getDafaultPlaylistImage(e) {
    $(e).attr('src', '<%= process.env.DEFAULT_ALBUM_IMAGE_PATH %>')
  }

  function getDafaultTrackImage(e) {
    $(e).attr('src', '<%= process.env.DEFAULT_TRACK_IMAGE_PATH %>')
  }

  function getDafaultProfileImage(e) {
    $(e).attr('src', '<%= process.env.DEFAULT_PROFILE_IMAGE_PATH %>')
  }
</script>

<!-- header importing -->
<%- include(viewPath + '/../../components/navbar') %>

<!-- Sidebar importing -->
<%- include(viewPath + '/../../components/sidebar') %>

<div id="main-content" class="main-wrapper p-4 context-target"></div>

<p class="copyright text-center small mt-4">Copyright © <%= new Date().getFullYear() %> Soundify. All rights reserved.</p>

<!-- Loader importing -->
<%- include(viewPath + '/../../components/loader') %>

<!-- Track player importing -->
<%- include(viewPath + '/../../components/player') %>